{% extends 'base.html.twig' %}

{% block body %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="title-white">Trouvez le coiffeur qui vous convient !</h1>
        <div>
            <div class="card-body">
                <div class="formCenter">
                    {{ form_start(form, {'method': 'POST', 'attr': {'id': 'FormRecherche', 'role': 'form', 'class' : 'form-horizontal' }}) }}
                    <div class="form-group row">
                        <div class="input-group col-sm-12 input-group-box">
                            {{ form_widget(form.recherche, { 'attr': {'class': 'form-control form-control-lg col-sm-9'}}) }}
                            <div class="input-group-prepend">
                                <div class="input-group-text colorBtn"> {{ form_widget(form.subRecherche, { 'attr': {'class': 'btn btn-default colorBtn'}}) }}</div>
                            </div>
                        </div>
                        {{ form_errors(form.recherche) }}
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" {% if search %} style="display:none;" {% endif %}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Pourquoi Peigne & Ciseaux ?</h2>
                <h3 class="section-subheading text-muted">Vous faire beau n'a jamais été aussi simple</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <i class="far fa-clock"></i>
              </span>
              <h4 class="service-heading">C'est vous qui décidez</h4>
              <p class="text-muted">Choissisez le jour et l'heure</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-users"></i>
          </span>
          <h4 class="service-heading">Un profil qui vous correspond</h4>
          <p class="text-muted">Choisissez votre coiffeur</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-dollar-sign"></i>
      </span>
      <h4 class="service-heading">Pour toutes les bourses</h4>
      <p class="text-muted">Trouvez le prix qui vous correspond</p>
  </div>
</div>
</div>
</section>

{% if search %}
 <div class="container">
<section>
    <h2>Les coiffeurs dans les alentours de Noisy le grand  :</h2>
    <hr/>

    <div class="card-deck">

        {% for searchs in search %}
        <div class=" col-md-3">
            <div class="card">
                {%if searchs.avatar is not null %}
                <img class="card-img-top" src="{{ asset('uploads/images/' ~ searchs.avatar ~ '')}}" alt="photo coiffeur {{ searchs.lastName }} {{ searchs.firstName }}" width="640" height="275">
                {%else %}

                <div class="text-center" style="margin-bottom:250px;">Pohto indisponible</div>

                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ searchs.lastName }} {{ searchs.firstName }}</h5>
                    <p class="card-text">
                        {{ searchs.bio }}
                    </p>
                    <p class="card-text"><small class="text-muted"><i class="fas fa-map-marker-alt"></i> {{ searchs.city }}</small></p>


                </div>
                <div class="card-footer">
                    <a href="{{ path('coiffeur', { 'id': searchs.id }) }}" class="btn btn-block btn-primary">Voir la carte</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
</div>
{% endif %}
{% endblock %}