{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="text-right">
        <a href="" class="btn btn-warning">Pas encore inscrit ?</a>
    </div>
    <form action="{{ path('fos_user_security_check') }}" method="post" role="form" data-async data-target="#rating-modal" class="form-horizontal">
        <div class="modal-body">
            {% if error %}
                {% if(error.token is null ) %}
                    <div class="alert alert-danger">{{ error.message }}</div>
                {% else %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            {% endif %}
            <div id="erreur" class="text-center panel panel-danger erreur hidden"></div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group">
                <label class="control-label col-sm-3" for="email">Entreprise :</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control verifiChampsVide" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Nom de l'entreprise">
                </div> 
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="password">Mot de passe :</label>
                <div class="col-sm-9">
                    <input type="password" id="password" name="_password" required="required" class="form-control verifiChampsVide" placeholder="********">
                </div>   
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <label class="control-label" for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    Se souvenir de moi</label>
                </div>
            </div>
        </div>
        <input type="submit" id="_submit" name="_submit" value="Connexion" class="btn btn-primary hidden">
    </form>
</div>
{% endblock %}