{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

	<a href="" class="btn btn-secondary">Retour</a>

	<hr>

	<div class="row">
		<div class="col-md-6">

			<h2>{{ cards[0].idUser.firstName }} {{ cards[0].idUser.lastName }}</h2>

			<img src="{{ asset('uploads/images/' ~ cards[0].idUser.avatar ~ '')}}" width="300px" height="275px"><br>

			<i class="fas fa-map-marker-alt"></i> {{ cards[0].idUser.city }}<br><br>
			<p>{{ cards[0].idUser.bio }}</p>

		</div>

		<div class="col-md-6">
			<h2>La carte</h2>

			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Genre</th>
						<th scope="col">Nom</th>
						<th scope="col">Prix</th>
						<th scope="col">Action</th>
					</tr>
				</thead>

				<tbody>
					{% for card in cards %}
					<tr>
						<th>{{ card.category }}</th>
						<td>{{ card.name }}</td>
						<td>{{ card.price }}€</td>
						<td><a href="" class="btn btn-primary">Je commande</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</div>
{% endblock %}